.cart {
    padding: 8px;
    border: 1px solid black;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
}

.list {
    border-bottom: 1px solid black;
    margin-bottom: 16px;
    padding-bottom: 16px;
}